{{#if @artworks.length}}
  <ul class="results">
    {{#each @artworks as |artwork|}}
      <li><Artwork @artwork={{artwork}} @artist={{artwork.artist}} /></li>
    {{/each}}
  </ul>
{{else}}
  <h2 class="no-items">Looks like there are no artworks yet... Register and log
    in to add your own!</h2>
{{/if}}