<div class="jumbo">
  <div class="right tomster">
    <img src="../images/teaching-tomster.png" />
  </div>
  <h2>Welcome to Art Share!</h2>
  <p>Experience the art of your friends and family, and if you're feeling
    creative, feel free to share your own!</p>
  <LinkTo
    @route="authenticated.artworks.new"
    class="button {{if this.session.isAuthenticated '' 'hide'}}"
  >Create</LinkTo>
</div>