<nav class="menu">
  <LinkTo @route="index" class="menu-index">
    <h1>ArtShare</h1>
  </LinkTo>
  <div class="links">
    <LinkTo @route="index" class="menu-contact">
      Overview
    </LinkTo>
    {{#if this.session.isAuthenticated}}
      <LinkTo @route="artworks.new" class="menu-about">
        Create
      </LinkTo>
      <LinkTo @route="profile" class="menu-about">
        Profile
      </LinkTo>
      <a
        {{on "click" this.invalidateSession}}
        class="menu-about cursor-pointer"
      >Logout</a>
    {{else}}
      <LinkTo @route="registration" class="menu-about">
        Register
      </LinkTo>
      <LinkTo @route="login" class="menu-about">
        Login
      </LinkTo>
    {{/if}}
  </div>
</nav>