<nav class="menu">
  <LinkTo @route="index" class="menu-index">
    <h1>ArtShare</h1>
  </LinkTo>
  <div class="links">
    <LinkTo @route="index" class="menu-contact">
      Overview
    </LinkTo>
    <LinkTo @route="index" class="menu-about">
      Create
    </LinkTo>
  </div>
</nav>