<Jumbo>
  <h2>Welcome to Art Share!</h2>
  <p>Experience the art of your friends and family, and if you're feeling creative, feel free to share your own!</p>
  <LinkTo @route="artworks.new" class="button">Create</LinkTo>
</Jumbo>

<ArtworkOverview @artworks={{@model}} />